.contact_formulaire { margin-left: 20%; }
.contact_formulaire input, textarea { display: block; margin-bottom: 10px; border: 1px solid black; }
.contact_formulaire input { width: 400px; height: 26px; }
