{% extends 'layout.twig' %}

{% block style %}
<link rel="stylesheet" href="css/bio.css">
{% endblock %}
{% block content %}
  <img src="img/website/bio.png" class="bio_picture" alt="">
  <p>
    passionée d'art et de textile,<br>
    issue des métiers d'arts,<br>
    motivée et ambitieuse de créer,<br>
    fais mains avant tout,<br>
    broderie et dessins de mode
  </p>
{% endblock %}
