{% extends 'layout.twig' %}

{% block style %}
  <link rel="stylesheet" href="css/dashboard.css">
{% endblock %}

{% block content %}
<ul class="dashboard-nav-left">
  <li><img class="dashboard-icon" src="img/dashboard/dashboard-icon.png" alt="">Dashboard</li>
  <li>Facture</li>
  <li>Templates</li>
</ul>
{% endblock %}
