<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>XoClaire</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="css/stylesheet.css">
    {% block style %}{% endblock %}
  </head>
  <body>
    <div class="menu">
      <a href="/"><img src="img/website/header.png" alt="" class="logo"></a>
      <ul>
        <a href="bio"><li>BIO</li></a>
        <a href="portfolio"><li>PORTFOLIO</li></a>
        <a href="eshop"><li>ESHOP</li></a>
        <a href="contact"><li>CONTACT</li></a>
      </ul>
    </div>
    {% block content %}
    {% endblock %}
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" charset="utf-8"></script>
</html>
